<div class="footer ">
    <div class="help"><h4> <b> ¿Podemos ayudarle?</b></h4></div>
    <div class="icon">
    <div class="intercom"><button class="btn"><img src="../../assets/svg/intercom.svg" alt="" srcset=""></button>
    
    </div>
    <div class="phone"><button class="btn"><img src="../../assets/svg/phone.svg" alt="" srcset=""></button>
   
    </div>
    </div>
    <div class="text">
        <h6><b>{{chart}}</b></h6>
        <h6><b>{{call}}</b></h6>
    </div>
    
</div>

<div class="list-footer">
    <div><h4> <b> {{aboutUs}}</b></h4></div>
    <div><h4> <b> {{security}}</b></h4></div>
    <div><h4> <b> {{howToCall}}</b></h4></div>
    <div><h4> <b> {{provider}}</b></h4></div>
    <div><h4> <b> {{contact}}</b></h4></div>
    <div><h4> <b> {{coverage}}</b></h4></div>
    <div><hr></div>
    <div><button class="btn" id='btn'><img src="../../assets/svg/instagram.svg" alt="" srcset=""></button></div>
    <div><h5><b>{{politics}}</b></h5></div>
    <div><hr></div>



</div>
<div class="footer-end ">

</div>
