<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Semi+Condensed:ital,wght@0,300;0,600;0,900;1,100;1,700&family=Patrick+Hand&family=Satisfy&family=The+Nautigal:wght@700&display=swap" rel="stylesheet">
<div class="container">
    <h2>Lo siento...</h2>
 <img src="../../assets/img/beer.png" alt="" srcset="">
    <h2> No encuentro la pagina a la que deseas acceder</h2>
</div>
