
<div class="gral">
    <div class="container">
        <div class="header">
           <b> Atención al cliente de "Cerveza"</b>
        </div>
        <div class="body">
            <table class="table table-bordered">
                <thead >
                    <tr>
                       <th>Servicio</th> 
                       <th>Número</th> 
                    </tr> 
                </thead>
                <tbody>
                    <tr>
                        <th>Atención al cliente</th> 
                        <th>*111</th> 
                     </tr>
                     <tr>
                        <th>Telefonía móvil</th> 
                        <th>0800-444-0800</th> 
                     </tr>
                     <tr>
                        <th>Telefonía fija</th> 
                        <th>*114</th> 
                     </tr>
                     <tr>
                        <th>Internet</th> 
                        <th>0800-555-3569</th> 
                     </tr>
                </tbody>
              </table>
        </div>

    </div>
</div>
