<div class="gral">
<div class="container">
    <div class="header">
   <p> <b> Para evitar la propagación de la COVID‑19, sigue estas recomendaciones: </b><br><br>
   </div>
   <div class="body">
    <ul>
       - Mantén una distancia de seguridad con otras personas (de 1 metro como mínimo), aunque no parezca que estén enfermas. <br>
       - Utiliza mascarilla en público, especialmente en interiores o cuando no sea posible mantener el distanciamiento físico.<br>
       - Prioriza los espacios abiertos y con buena ventilación en lugar de los espacios cerrados. Si estás en interiores, abre una ventana.<br>
       - Lávate las manos con frecuencia. Usa agua y jabón o un desinfectante de manos a base de alcohol.<br>
       - Vacúnate cuando sea tu turno. Sigue las directrices sobre vacunación de las autoridades locales.<br>
       - Cuando tosas o estornudes, cúbrete la nariz y la boca con el codo flexionado o con un pañuelo.<br>
       - Si no te encuentras bien, quédate en casa.
    </ul>
</div>
<div class="footer">
En caso de que tengas fiebre, tos o dificultad para respirar, busca atención médica. Llama por teléfono antes de acudir a tu 
proveedor de servicios sanitarios para que te dirijan al centro médico adecuado. De esta forma, te protegerás a ti y evitarás la 
propagación de virus y otras infecciones
</div>
</div>
</div>